:root {
  --accent-color: #2196f3;
  --bg-color: #ffffff;
  --text-color: #757575;
  --logo-color: #000000;
  --nav-color: #212121;
  --footer-bg-color: #2e2f3b;
  --footer-contact-color: #ffffff99;
  --btn-bg-color: #f5f4fa;
  --border-color: #ececec;
  --link-color: #afb1b8;
  --shadow-color: #00000026;
  --modal-accent-color: #188ce8;
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.current {
  color: var(--accent-color);
}

body {
  background-color: var(--bg-color);
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

h1 {
  width: 696px;
  margin: 0 auto;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.section__title {
  margin-bottom: 30px;
  color: var(--nav-color);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.social {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.social__list {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--link-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--bg-color);
}

.conteiner {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.navigation__logo {
  display: flex;
  padding: 16px 0;
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.navigation__logo > span {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    padding: 24px 0;
    font-size: 26px;
    line-height: 1.19;
  }
}

.navigation__logo--negative {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08;
  color: var(--accent-color);
}
.navigation__logo--negative > span {
  color: var(--bg-color);
}
@media screen and (min-width: 1200px) {
  .navigation__logo--negative {
    font-size: 26px;
    line-height: 1.19;
  }
}

.mob-menu {
  display: flex;
  width: 100%;
  background-color: transparent;
  right: 15px;
  top: 10px;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-button {
  margin-left: auto;
  border: none;
  background-color: transparent;
  fill: var(--logo-color);
  z-index: 2;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button:hover {
  fill: var(--accent-color);
}

.menu-button.is-open .icon-menu_close {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button .icon-menu {
  display: none;
}

.menu-conteiner {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  z-index: 1;
  background-color: var(--bg-color);
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
.menu-conteiner.is-open {
  display: none;
}
@media screen and (min-width: 320px) {
  .menu-conteiner {
    padding: 40px 48px;
  }
}
@media screen and (min-width: 768px) {
  .menu-conteiner {
    display: none;
  }
}

.mob-site-nav {
  display: inline-block;
  color: var(--nav-color);
  margin-bottom: auto;
}

.mob-site-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}
.mob-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-site-nav__link {
  color: var(--nav-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-site-nav__link:hover {
  color: var(--accent-color);
}

.mob-contacts {
  margin-bottom: 64px;
}

.mob-contacts__phone {
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mob-contacts__phone {
    font-size: 34px;
  }
}

.mob-contacts__address {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mob-social {
  display: flex;
}

.mob-social__list {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.mob-social__list:not(:last-child) {
  margin-right: 5px;
  padding-right: 8px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 480px) {
  .mob-social__list {
    font-size: 18px;
    margin-right: 10px;
    padding-right: 10px;
  }
}

.mob-social__link {
  color: var(--accent-color);
}

.btn {
  display: inline-block;
  vertical-align: middle;
  background-color: var(--accent-color);
  color: var(--bg-color);
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-color);
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 24px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow-y: scroll;
  background-color: rgba(47, 48, 58, 0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  padding: 40px;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-color);
}

.modal-button-close {
  position: absolute;
  top: 0%;
  right: 0%;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  background-color: var(--bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-close:hover {
  fill: var(--accent-color);
}

.form {
  width: 100%;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: var(--text-color);
}
.form-label:last-child {
  margin-bottom: 0;
}
.form-label label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-label input {
  width: 100%;
  height: 40px;
  padding: 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label input:focus {
  fill: var(--accent-color);
}
.form-label :focus {
  border-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.form-label textarea {
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
}
.form-label textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-label textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-label textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-label.textarea {
  margin-bottom: 20px;
}
.form-label input [type=checkbox] {
  width: 15px;
  height: 16px;
}

.form-img {
  position: absolute;
  top: 31px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label :focus + .form-img {
  fill: var(--accent-color);
}

.checkbox {
  -ms-progress-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon.svg#icon-check);
  background-size: contain;
  background-origin: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid var(--logo-color);
  border-radius: 2px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
@media screen and (min-width: 480px) {
  .agreement-text {
    width: 346px;
  }
}
@media screen and (min-width: 1200px) {
  .agreement-text {
    font-size: 14px;
    line-height: 1.71;
    width: 400px;
  }
}
.agreement-text > .contract {
  text-decoration: underline;
  color: var(--modal-accent-color);
}

.submit-button {
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: var(--modal-accent-color);
  color: var(--bg-color);
  padding: 10px 52px;
  line-height: 1.88;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button:hover {
  box-shadow: 0px 4px 4px var(--shadow-color);
}

.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--nav-color);
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__btn {
  min-width: 38px;
  padding: 6px 22px;
  font-family: inherit;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--btn-bg-color);
  color: var(--logo-color);
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:focus, .filter__btn:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__btn {
  margin-left: 8px;
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav :not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: var(--nav-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link.current {
  color: var(--accent-color);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: none;
}
.contacts :focus, .contacts :hover {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding: 21px 0;
    align-items: flex-start;
    margin-left: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contacts :not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 14px;
    display: flex;
    flex-direction: row;
  }
  .contacts :not(:last-child) {
    margin-right: 30px;
  }
}

.contacts .contacts__item {
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .contacts .contacts .contacts__item + .contacts .contacts__item {
    margin-left: 50px;
  }
  .contacts .contacts .contacts__item {
    margin: 0;
  }
}

.contacts__address,
.contacts__phone {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: row-reverse;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: var(--footer-bg-color);
  background-image: var(--gradient), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-align: center;
  padding: 118px 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gradient), url(../images/hero-bg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero-bg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: var(--gradient), url(../images/new_photo.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url(../images/hero-bg-2x.jpg);
  }
}

.hero__title {
  max-width: 100%;
  color: var(--bg-color);
  font-weight: 900;
  font-size: 21px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.about {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about__list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    width: calc((100% - 90px) / 4);
  }
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--btn-bg-color);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .about__wrapper {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrapper {
    width: 270px;
  }
}

.about__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--nav-color);
}
@media screen and (min-width: 768px) {
  .about__title {
    text-align: start;
  }
}

.about__content {
  line-height: 1.71;
  color: var(--text-color);
}

.product {
  padding-top: 0;
}
@media screen and (min-width: 0), (min-width: 768px) {
  .product {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    display: contents;
  }
}

.product__item {
  display: flex;
}

.product__img {
  position: relative;
  width: 370px;
  margin-right: 30px;
}
.product__img:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .product__img {
    margin-bottom: 94px;
  }
}

.product__description {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--bg-color);
}

.command {
  background-color: var(--btn-bg-color);
}

.command__member {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.command__img {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1215686275), 0px 1px 1px rgba(0, 0, 0, 0.1411764706), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .command__img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .command__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .command__img {
    width: 270px;
  }
}

.command__about {
  padding: 30px 0;
  text-align: center;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.1411764706), 0px 2px 1px rgba(0, 0, 0, 0.1215686275);
}

.command__name {
  margin-bottom: 10px;
  color: var(--nav-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command__position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}

.partners {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.partners__item {
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .partners__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .partners__item {
    width: calc((100% - 150px) / 6);
  }
}

.partners__link {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  fill: var(--link-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners__link:focus, .partners__link:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .partners__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .partners__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .partners__link {
    width: 170px;
  }
}

.partners__logo {
  width: 106px;
  height: 60px;
}

.footer {
  padding: 60px 0px;
  background-color: var(--footer-bg-color);
}
.footer .social {
  margin: 0;
  display: flex;
  justify-content: center;
}
.footer .social__link {
  justify-content: center;
  margin-right: 10px;
  fill: var(--bg-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .social__link:last-child {
  margin-right: 0;
}
.footer .social__link:focus, .footer .social__link:hover {
  background-color: var(--accent-color);
}

.navigation--another {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .navigation--another {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .navigation--another {
    margin-top: 0;
    text-align: start;
    justify-content: space-between;
  }
}

.feedback {
  margin-bottom: 8px;
}
.feedback:last-child {
  margin-bottom: 0;
}
.feedback a {
  font-style: normal;
  line-height: 1.71;
  color: var(--bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback a:hover, .feedback a:focus {
  color: var(--accent-color);
}

.nav-another__coordinate {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .nav-another__coordinate {
    margin-bottom: 0;
  }
}

.feedback__location {
  margin-top: 20px;
  margin-bottom: 8px;
  line-height: 1.71;
}

.feedback__address,
.feedback__phone {
  display: block;
  margin-bottom: 8px;
}
.feedback__address a,
.feedback__phone a {
  color: var(--footer-contact-color);
  font-style: normal;
  line-height: 1.71;
}
.feedback__address:last-child,
.feedback__phone:last-child {
  margin-bottom: 0;
}

.subscription {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .subscription {
    text-align: start;
    margin-bottom: 0;
  }
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .join {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .sign {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.subscribe__form {
  padding-left: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px var(--shadow-color);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  margin-bottom: 20px;
}
.subscribe__form:focus {
  color: var(--bg-color);
}
@media screen and (min-width: 480px) {
  .subscribe__form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    width: 358px;
    margin: 0;
    margin-right: 12px;
  }
}

.subscribe__button {
  position: relative;
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 10px 28px;
  margin: 0 auto;
  display: flex;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px var(--shadow-color);
  border-radius: 4px;
}

.subscribe__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.project__list {
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__list:nth-child(3n) {
  margin-right: 0;
}
.project__list:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.project__list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__list:hover .overlay {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.project__img {
  position: relative;
  overflow: hidden;
}
.project__img > p {
  height: 100% x;
  width: 100%;
  opacity: 0;
}

.project__about {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--nav-color);
  margin-bottom: 4px;
}

.project__text {
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding: 6px 0;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */