.btn {
  display: inline-block;
  vertical-align: middle;

  background-color: var(--accent-color);
  color: var(--bg-color);
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-color);
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 24px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}
