.navigation__logo {
  display: flex;
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  & > span {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.navigation__logo--negative {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08;
  color: var(--accent-color);
  & > span {
    color: var(--bg-color);
  }
  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}
