.mob-menu {
  display: inline-flex;

  padding: 16px 15px;
  background-color: transparent;
  right: 15px;
  top: 10px;
  position: absolute;
  z-index: 1;

  @media screen and (max-width: $tablet) {
    display: none;
  }
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  fill: var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--accent-color);
  }
  @media screen and (min-width: $mobile) {
    display: none;
  }
}

.menu-button.is-open .icon-menu_close {
  display: none;
}
.menu-button.is-open .icon-menu {
  display: block;
}
.menu-button .icon-menu {
  display: none;
}

.menu-conteiner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 796px;
  padding: 40px 48px;
  background-color: var(--bg-color);

  &.is-open {
    display: none;
  }
  @media screen and (min-width: $mobile) {
    display: none;
  }
}
