.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(47, 48, 58, 0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  // position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: auto;
  padding: 40px;

  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-color);
}

.modal-button-close {
  position: absolute;
  top: 0%;
  right: 0%;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  padding: 0;

  background-color: var(--bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--accent-color);
  }
}

.form {
  width: 100%;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: var(--text-color);

  &:last-child {
    margin-bottom: 0;
  }

  & label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  & input {
    width: 100%;
    height: 40px;
    padding: 10px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & input:focus {
    fill: var(--accent-color);
  }

  & :focus {
    border-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  & textarea {
    padding: 12px 16px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
  }

  & textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &.textarea {
    margin-bottom: 20px;
  }

  & input [type="checkbox"] {
    width: 15px;
    height: 16px;
  }
}

.form-img {
  position: absolute;
  top: 31px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-label :focus + & {
    fill: var(--accent-color);
  }
}

.checkbox {
  -ms-progress-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;

  &:checked + .checkbox-icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/icon.svg#icon-check);
    background-size: contain;
    background-origin: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid var(--logo-color);
  border-radius: 2px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.contract {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--modal-accent-color);
}

.submit-button {
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  background-color: var(--modal-accent-color);
  color: var(--bg-color);
  padding: 10px 52px;
  line-height: 1.88;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 4px 4px var(--shadow-color);
  }
}
