.command {
  background-color: var(--btn-bg-color);
}

.command__member {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.command__img {
  width: 100%;

  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;

  @media screen and (min-width: $mobile) {
    width: 450px;
  }
  @media screen and (min-width: $tablet) {
    width: 354px;
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.command__about {
  padding: 30px 0;
  text-align: center;

  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px #00000033, 0px 1px 1px #00000024,
    0px 2px 1px #0000001f;
}

.command__name {
  margin-bottom: 10px;
  color: var(--nav-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command__position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}
