.header {
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 16px 0;
}

.site-nav {
  display: flex;
  margin-left: 93px;

  & :not(:last-child) {
    margin-right: 50px;
  }
  @media screen and(min-width:0) and (min-width: $mobile) {
    // display: none;
  }
}
.site-nav__link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: var(--nav-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.current {
    color: var(--accent-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current::after {
    position: absolute;
    bottom: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-align: center;
  font-weight: 500;

  & :focus,
  & :hover {
    color: var(--accent-color);
  }
  @media screen and(min-width: 0) and (max-width: 1199px) {
    // display: none;
  }
}

.contacts__item {
  display: flex;
  align-items: center;

  .contacts & {
    margin: 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  .contacts & + & {
    margin-left: 50px;
  }
}

.contacts__address,
.contacts__phone {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: row-reverse;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
