.product {
  padding-top: 0;
  @media screen and (min-width: 0), (min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: contents;
  }
}

.product__item {
  display: flex;
}

.product__img {
  position: relative;
  width: 370px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 94px;
  }
}

.product__description {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -0%);
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--bg-color);
}
